<!DOCTYPE html>

<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Sent</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <!-- jQuery 1.8 or later, 33 KB -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Fotorama from CDNJS, 19 KB -->
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="ui container">
        <br>
        <h1 style="text-align: center;">Your message was <p style="color:crimson; display:inline-block">not sent</p>, please ensure you enter all details correctly.</h1>

        <p style="text-align: center;">
            <a href="/home" style="text-align: center;">Head back to the main page</a>
        </p>
    </div>
</body>