<!DOCTYPE html>

<head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Zakir Dawood</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
        <!-- jQuery 1.8 or later, 33 KB -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

        <!-- Fotorama from CDNJS, 19 KB -->
        <link  href="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>

        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'projects.css'%}">
        <link rel="icon" href="{% static 'logo.jpg' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body id="main-body">
    <div class="ui container">

    <br>

    <div class="ui centered grid">
        <div class="sixteen columns">
            <div class="ui text menu" id="menu">
                <a class="item" id="menu-item" href="/home">Home&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="item" id="menu-item" href="/skills">Skills&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="item active" id="menu-item" href="/projects" style="color: crimson;">Projects&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="item" id="menu-item" href="/gallery">Gallery&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a class="item" id="menu-item" href="/contact">Contact&nbsp;&nbsp;&nbsp;&nbsp;</a>
            </div>
        </div>
    </div>

    <br>

    <h1 class="ui header" style="text-align:left; color: crimson; animation: fade-up 650ms 400ms backwards;">
        &nbsp;&nbsp;&nbsp;Projects
    </h1>

    <br>

    <div class="ui centered sixteen column stackable grid" style="animation: fade-up 650ms 400ms backwards; width: 100%;">
        <div class="seven wide column card-tech" id="card" style="width: 100%;">
            <div>
                <img src="{% static 'NBA.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">NBA Analytics Dashboard</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- January 2023</h5>
            <p style="text-align: center;">During my first internship at L3Harris Technologies, I was a part of the Data Analytics team as a Business Intelligence Developer. Throughout my 16 months there,
             I was introduced to many new technologies that I became proficient in. Power BI was one of those technologies. As I am unable to display projects that I worked on at the company, I decided to 
            take advantage of my new skillset and build an NBA dashboard. This dashboard is inspired by my Fantasy NBA League that I am a part of and I hope to use this to climb the standings. The dashboard 
            involves many advanced visualizations and holds over 500K records. The data is cleverly extracted from a REST API.</a>
            </p>

            <div class="tech-list">
                Power BI
            </div>
            <div class="tech-list">
                DAX
            </div>
            <div class="tech-list">
                REST API
            </div>

            <br><br><br>

            <a href="https://github.com/zakirdawood/NBA_Dashboard" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="seven wide column card-tech" id="card">
            <div>
                <img src="{% static 'rec_club.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">Recreation Club Application</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- April 2022</h5>
            <p style="text-align: center;">
                Software engineering was a theoretically heavy class that often seemed underwhelming. However, during our final project,
                we saw all the concepts come to life. Over the course of a two week sprint in a small team, we managed to go above and beyond
                the user requirements. The application earned a near-maximum grade and we have since
                went ahead and finished the remaining features mentioned in the video. My contribution to this project included the entire account 
                architecture, the messaging features, and a large part of the user interface. What started off as a school project, ended up being a 
                medium to showcase our development skills.
            </p>

            <div class="tech-list">
                HTML
            </div>
            <div class="tech-list">
                CSS
            </div>
            <div class="tech-list">
                JavaScript
            </div>
            <div class="tech-list">
                Python
            </div>
            <div class="tech-list">
                Django
            </div>
            <div class="tech-list">
                Semantic UI
            </div>
            <div class="tech-list">
                Heroku
            </div>
            

            <br><br>

            <a href="https://youtu.be/CfoIy57UD-w" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>
    </div>
    <br><br><br>
    <div class="ui centered sixteen column stackable grid" style="animation: fade-up 650ms 400ms backwards; width: 100%;">
        <div class="seven wide column card-tech" id="card" style="width: 100%;">
            <div>
                <img src="{% static 'together2022.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">Together 2022</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- January 2022</h5>
            <p style="text-align: center;">Steering away from participating in only coding competitions, I decided to try a purely entrepreneurial competition. Together 2022 
                is a collaboration between Schulich and Startup India, where two founders of a startup in India are grouped with two students from Canada. Within a week, 
                we had to take a product in the ideation or prototype phase and turn it into an idea worth investing in. I analyzed the market, evaluated competition 
                and identified the barriers behind the founder's products with the help of successful mentors. After doing so, I created a business model that we then 
                presented to the judges. This competition allowed me to learn from and work with many successful entrepreneurs.
            </p>

            <div class="tech-list">
                MS Office
            </div>
            <div class="tech-list">
                Canva
            </div>

            <br><br>

            <a href="https://youtu.be/38RorCAmlUw" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="seven wide column card-tech" id="card">
            <div>
                <img src="{% static '530proj.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">Semantic UI/Django Snapshot</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- December 2021</h5>
            <p style="text-align: center;">
                CPS530 - Web Systems Development was a course where I had the opportunity to learn a multitude of skills. For my final project submission, I was required to create a webpage outlining
                a frontend and backend framework. I also had to include a demo page where I demonstrate some backend functionality the framework provides. In a short time period, I learnt a lot about
                Semantic UI and Django before creating a site that lets users email others through our host email and server. The site was then hosted on Heroku. This project laid out the foundation for
                me to use these frameworks, both of which are utilized on this portfolio site. Other coursework from this amazing class can be seen <a href="https://github.com/zakirdawood/CPS530" target="_blank">here</a>.
            </p>

            <div class="tech-list">
                HTML
            </div>
            <div class="tech-list">
                CSS
            </div>
            <div class="tech-list">
                Python
            </div>
            <div class="tech-list">
                Semantic UI
            </div>
            <div class="tech-list">
                Django
            </div>
            <div class="tech-list">
                Heroku
            </div>

            <br><br>

            <a href="https://github.com/zakirdawood/Semantic-UI-Django-Evaluation" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>
    </div>

    <br><br><br>
    
    <div class="ui centered sixteen column stackable grid" style="animation: fade-up 650ms 400ms backwards; width: 100%;">
        <div class="seven wide column card-tech" id="card" style="width: 100%;">
            <div>
                <img src="{% static 'eirian.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">Eirian</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- May 2021</h5>
            <p style="text-align: center;">After a year filled with academic projects and assignments, a hackathon was the perfect way to end a one of a kind academic year. At the peak of the pandemic,
                cases were rising, and the vaccination program finally started to get underway. There were so many statistics to look out for, but no quick or efficient way 
                to find them. My team and I decided to solve this problem with Eirian, a discord bot that delivers all the important covid-19 statistics. With the help of web
                scraping, Eirian successfully delivered essential information to Ontarians through reliable government sources. Eirian was submitted to 
                <a href="https://ru-hacks-2021.devpost.com/" target="_blank">RU Hacks</a>.
            </p>

            <div class="tech-list">
                Python
            </div>
            <div class="tech-list">
                Selenium Web Driver
            </div>
            <div class="tech-list">
                Discord.py
            </div>

            <br><br>

            <a href="https://devpost.com/software/eirian" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


        <div class="seven wide column card-tech" id="card">
            <div>
                <img src="{% static 'runnerSid.png' %}" style="height: 100%; width: 100%; border-radius: 10px;">
            </div>
            <h2 class="ui header" style="text-align: center; color: crimson;">Runner Sid</h2>
            <h5 class="ui header" style="text-align: center; color: rgb(174, 169, 169); margin-top: -2%;">- May 2021</h5>
            <p style="text-align: center;">
                Every developer's first choice for a project is always a game. It's fun to design and even more fun to play. After learning about GUIs and Pygame,
                I decided to put my skills to the test by designing a game using object-orientated programming. Users play as Sid and must reach the end of the race
                while avoiding snakes and cannonballs fired at them. There are a total of five rounds with the difficulty increasing each round.
            </p>

            <div class="tech-list">
                Python
            </div>
            <div class="tech-list">
                Pygame
            </div>

            <br><br><br><br><br>

            <a href="https://github.com/zakirdawood/Runner-Sid" target="_blank" class="link">
                <ion-icon name="open-outline" size="large"></ion-icon>
            </a>
        </div>
    </div>
    <br><br><br><br>

    </div>

    <footer>
        <br>
        <p style="text-align: center;"><strong>A portfolio site designed and developed by Zakir Dawood</strong></p>
        <br>
    </footer>
</body>